name: Publish
on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@singh-barender'

      - run: npm ci

      - name: Build project
        run: npm run build

      - name: Automated Version Bump
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          # This bumps version in root package.json
          npm version minor -m "chore: bump version to %s [skip ci]"
          git push --follow-tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to GitHub Packages
        run: |
          # We ensure the build folder uses the token provided by the environment
          npm publish --provenance --access public
        working-directory: ./build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
